In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from tqdm.auto import tqdm

In [3]:
gender_df = pd.read_csv('gender.csv')
jud_per_df = pd.read_csv('judging_perceiving.csv')
political_df  = pd.read_csv('political_leaning.csv')

In [4]:
gender_df.head()

    auhtor_ID                                               post  female
0  t2_rnjzutp  Good on you for being responsible! I know self...       1
1  t2_rnjzutp  must go to the grocery store with their child,...       1
2  t2_rnjzutp  things on her videos, and YouTube took the vid...       1
3  t2_rnjzutp  their app. There's also a program called SYNC ...       1
4  t2_rnjzutp  side. If the cops don't take your side, you'll...       1

In [5]:
jud_per_df.head()

  auhtor_ID                                               post  judging
0  t2_yo59v  Oh...but why? Seriously, even corrected it's s...        0
1  t2_yo59v  could make out the address the second time and...        0
2  t2_yo59v  That's what he said yeah. But no he was genuin...        0
3  t2_yo59v  here. I feel like he knows, with this wording ...        0
4  t2_yo59v  time it picked up steam lots of (ex)slaves got...        0

In [6]:
political_df.head()

,auhtor_ID,post,political_leaning
0,t2_7ramzeng,"You can ""buy"" the show and stream it through t...",right
1,t2_7ramzeng,"me want to play Q*bert Holy shit, based Alex J...",right
2,t2_7ramzeng,Shouldn't rely on any external services or per...,right
3,t2_7ramzeng,PR to a specific person. Usually that just mea...,right
4,t2_7ramzeng,This article's intention is clear that they wa...,right

In [70]:
def num_of_words(df):
    count = 0
    iterator = df['post']
    for i in tqdm(iterator):
        count += len(i.split())
    return count

def avg_num_of_words(df):
    return round(num_of_words(df)/len(df))

def num_of_cars(df):
    count = 0
    iterator = df['post']
    for i in tqdm(iterator):
        count+= len([j for j in i])
    return count

def avg_num_of_cars(df):
    return round(num_of_cars(df)/len(df))

def num_of_cat(df):
    last_col = df.columns[-1]
    return df[last_col].nunique()

In [75]:
# write a function which returns the number of documents in the dataset
num_docs_gender = len(gender_df)
num_docs_jud_per = len(jud_per_df)
num_docs_polit = len(political_df)

In [76]:
# write a function which returns the number of categories in the dataset
num_cat_gender = num_of_cat(gender_df)
num_cat_jud_per = num_of_cat(jud_per_df)
num_cat_polit = num_of_cat(political_df)

In [56]:
# write a function which returns the number of words in the dataset
num_words_gender = num_of_words(gender_df)
num_words_jud_per = num_of_words(jud_per_df)
num_words_polit = num_of_words(political_df)

  0%|          | 0/44635 [00:00<?, ?it/s]

  0%|          | 0/41365 [00:00<?, ?it/s]

  0%|          | 0/57231 [00:00<?, ?it/s]

In [68]:
# Write a function which returns the number of characters in the dataset
num_cars_gender = num_of_cars(gender_df)
num_cars_jud_per = num_of_cars(jud_per_df)
num_cars_polit = num_of_cars(political_df)

  0%|          | 0/44635 [00:00<?, ?it/s]

  0%|          | 0/41365 [00:00<?, ?it/s]

  0%|          | 0/57231 [00:00<?, ?it/s]

In [57]:
# write a function which returns the average number of words per document
avg_num_words_gender = avg_num_of_words(gender_df)
avg_num_words_jud_per = avg_num_of_words(jud_per_df)
avg_num_words_polit = avg_num_of_words(political_df)

  0%|          | 0/44635 [00:00<?, ?it/s]

  0%|          | 0/41365 [00:00<?, ?it/s]

  0%|          | 0/57231 [00:00<?, ?it/s]

In [71]:
# write a function which returns the average number of characters per document
avg_num_cars_gender = avg_num_of_cars(gender_df)
avg_num_cars_jud_per = avg_num_of_cars(jud_per_df)
avg_num_cars_polit = avg_num_of_cars(political_df)

  0%|          | 0/44635 [00:00<?, ?it/s]

  0%|          | 0/41365 [00:00<?, ?it/s]

  0%|          | 0/57231 [00:00<?, ?it/s]

In [85]:
data = {'Dataset': ['gender', 'judging_perceiving', 'political_leaning'],
        "# of documents": [num_docs_gender, num_docs_jud_per, num_docs_polit], 
        '# of categories': [num_cars_gender, num_cars_jud_per, num_cars_polit],
        '# of words': [num_words_gender, num_words_jud_per, num_words_polit], 
        '# of characters': [num_cars_gender, num_cars_jud_per, num_cars_polit],
        "avg # of words": [avg_num_cars_gender, avg_num_cars_jud_per, avg_num_cars_polit],
        "avg # of characters": [avg_num_cars_gender, avg_num_cars_jud_per, avg_num_cars_polit]}
results = pd.DataFrame(data).set_index('Dataset')
results

,# of documents,# of categories,# of words,# of characters,avg # of words,avg # of characters
Dataset,,,,,,
gender,44635,357328357,65766063,357328357,8006,8006
judging_perceiving,41365,338150286,61005809,338150286,8175,8175
political_leaning,57231,476164022,84754368,476164022,8320,8320