In [4]:
### imports 
import csv

import pandas as pd

from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.multiclass import OneVsRestClassifier

In [5]:
preprocessed_text = 'gender_df_preprocessed_3'

In [13]:
pipeline = Pipeline([
                    ('vectorizer', TfidfVectorizer()),
                    ('model', OneVsRestClassifier(SVC(probability=True)))
                    ])

df = pd.read_json(rf'/Users/alexraudvee/Desktop/lai-data/{preprocessed_text}.json')[:10000]

X = df[f'post'].tolist()
y = df[f'female'].tolist()

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# fit the pipe
pipeline.fit(X_train, y_train)

# Predict on the test set
y_pred = pipeline.predict(X_test)

df = pd.DataFrame({
    'text': X_test,
    'female': y_test,
    'female_pred': y_pred
})

In [14]:
df

                                                   text  female  female_pred
0     art . offense formal logic falls math . studie...       0            0
1     loved . take care . always say modern parentho...       1            1
2     defects highly connected age mother . 40 would...       0            0
3     're tolerant . 're rsging authoritarian hates ...       0            0
4     , effectively homeless . let tell right , neve...       0            0
...                                                 ...     ...          ...
1995  time , n't get bent flakes people like reason ...       0            1
1996  $ figure provided service . charles schwab cam...       1            1
1997  convenient one . anyway , always neighbourhood...       0            0
1998  fell 2.85 % $ 92.22 , walmart inc. ( wmt ) fel...       1            1
1999  prijzengeld niet de europa leauge , maar niets...       0            0

[2000 rows x 3 columns]

In [15]:
last_two_columns = df.iloc[:, -2:]

# Step 2: Check for rows where the values in the last two columns don't match
rows_with_mismatch = df[last_two_columns.iloc[:, 0] != last_two_columns.iloc[:, 1]]

In [19]:
rows_with_mismatch.to_csv("error_analysis_SVC_TfIdf_flow3.csv")